<%= cache "/nearby/#{@map_filter_form.to_query}", expires_in: 24.hours, skip_digest: true do %>
  <% @map_filter_form.events.each do |event| %>
    <% if event["venue"].present? %>
      <Placemark id="<%= event["id"] %>">
        <name><%= event["name"] %></name>
        <styleUrl>#paddle</styleUrl>
        <description>
          <![CDATA[
            <p><%= event["venue"]["name"] %></p>
            <p><%= local_time(Time.at(event["time"].to_i / 1000)) %></p>
            <p>Guests: <%= event["yes_rsvp_count"] %></p>
            <p><%= link_to event["group"]["name"], event["link"], targer: "_blank" %></p>
            <%#= (event["description"] || "").html_safe %>
          ]]>
        </description>
        <Point>
          <coordinates><%= event["venue"]["lon"] %>,<%= event["venue"]["lat"] %></coordinates>
        </Point>
      </Placemark>
    <% end %>
  <% end %>
<% end %>
