<%#= cache "/nearby/51.5074/0.1278", expires_in: 24.hours, skip_digest: true do %>
  <% ::Meetup::FindEvents.nearby.each do |event| %>
    <% if event["venue"].present? %>
      <Placemark id="<%= event["id"] %>">
        <name><%= event["venue"]["name"] %></name>
        <styleUrl>#paddle</styleUrl>
        <description>
          <![CDATA[
            <%= event["description"].html_safe %>
            <p>Link to <%= event["group"]["name"] %></p>
          ]]>
        </description>
        <Point>
          <coordinates><%= event["venue"]["lat"] %>,<%= event["venue"]["lon"] %></coordinates>
        </Point>
      </Placemark>
    <% end %>
  <% end %>
<%# end %>
