<!DOCTYPE html>
<html>
  <head>
    <title>MeetupMap</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="container">
      <div class="row">
        <div class="col-xs-12 col-md-6">
          <h1>MeetupMap - Lists suck!</h1>
        </div>
        <div class="col-xs-12 col-md-6">
          <iframe src="https://rcm-eu.amazon-adsystem.com/e/cm?o=2&p=42&l=ur1&category=consumerelectronics&banner=0QZRBB0GNMSP1X9DKG02&f=ifr&linkID=d7ca835d560eeb1b55c10743e0a9c7f5&t=fulondes-21&tracking_id=fulondes-21" width="234" height="60" scrolling="no" border="0" marginwidth="0" style="border:none;" frameborder="0" class="f-right mt-3 mb-3"></iframe>
        </div>
      </div>
    </header>

    <main class="container">
      <%= yield %>
    </main>

    <footer class="container">
      <!--<p>I made this!</p>-->
    </footer>

    <%= render 'shared/levelsio_by' %>
  </body>
</html>
